<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:jdbc.properties" />
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name ="dataSource" ref="dataSource" />
		<property name ="configLocation" value="classpath:mybatis-config.xml"/>
		<property name ="typeAliasesPackage" value="org.seckill.entity" />
		<property name ="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" /> 
		<property name="basePackage" value="org.seckill.dao" />
	</bean>
	
	<!-- 配置数据源工厂 -->
	<bean id="dsf" class="org.jfaster.mango.datasource.SimpleDataSourceFactory">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- 配置mango对象 -->
    <bean id="mango" class="org.jfaster.mango.operator.Mango" factory-method="newInstance">
        <property name="dataSourceFactory" ref="dsf" />
    </bean>
    
     <!-- 配置扫描使用@DB注解修饰的DAO类 -->
    <bean class="org.jfaster.mango.plugin.spring.MangoDaoScanner">
        <property name="packages">
            <list>
                <!-- 扫描包名 -->
                <value>org.seckill.mangodao</value>

                <!-- <value>其他需要扫描的包</value> -->
            </list>
        </property>
        
        <!-- 
        	<property name="factoryBeanClass" value="org.seckill.config.MyMangoFactoryBean" />
         -->
    </bean>
</beans>